@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
* {
  font-family: "Oswald", sans-serif !important;
}
.App {
  text-align: center;
}
a:hover {
  color: rgb(65, 150, 179) !important;
}

.App-header {
  background-color: lightblue;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
